#firebase
firebase.json
.firebaserc

# Firestore 색인 정의 참조
# https://firebase.google.com/docs/reference/firestore/indexes
firestore.indexes.json

# Firebase 보안 규칙
# https://firebase.google.com/docs/database/security/get-started#understand_the_language
firestore.rules
database.rules.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local