# dependencies
functions/node_modules
/.pnp
.pnp.js

# 환경변수 설정
process.env
firebase.config.js

# google service account 
firebase-adminsdk.json

#firebase
firebase.json
.firebaserc

# Firestore 색인 정의 참조
# https://firebase.google.com/docs/reference/firestore/indexes
firestore.indexes.json

# Firebase 보안 규칙
# https://firebase.google.com/docs/database/security/get-started#understand_the_language
firestore.rules
database.rules.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

functions/database-debug.log
functions/firebase-debug.log
functions/firestore-debug.log
functions/ui-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
functions/src/config